.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    
}


.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
}

.user-role {
    font-size: smaller;
    color: wheat;
}


.logo {
    height: auto; /* Adjust size as needed */
    width: 100px;
}

.avatar-container {
    display: flex;
    align-items: center;
}

.btn-group {
    display: flex;
    align-items: center;
    border-radius: 10px;
    
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    border: none; /* Remove border if needed */
    background: none; /* Remove background if needed */
    cursor: pointer;
    background-color: #f8f9fa; /* Adding a background color */
    padding: 8px; /* Optional: Add padding to better see the rounded corners */
    border-radius: 10px;
    color: white;
}

.dropdown-toggle span {
    margin-right: 8px; /* Adjust spacing between text and avatar */
}

.avatar {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%;
}

